.Rproj.user
.Rhistory
.RData
.Ruserdata
.tmp
.DS_Store
shark1.RData
behavioral/ALL_SUBJECTS_DEMO.xlsx
behavioral/demo_explore.csv
behavioral/DRS.xlsx
behavioral/EXIT.xlsx
behavioral/WTAR.xlsx
scheck/*
stan_scripts/stan_output/*
*.rds
*.rdata
*.mat
shark_data.RData
